@import 'variables';

.Menu{
    height: 100%;
    width: 175px;

    background-color: $dark800;
    position: fixed;

    padding-top: 20px;

    transition: 0.2s;

    top: 0;
    z-index: 10;

    button{
        display: flex;
        align-items: center;

        border: none;
        margin: 0px 0px 10px 0px;
        padding: 10px;
        width: 100%;
        text-align: left;
        
        background-color: transparent;
        color: $white;

        // font-family: 'Montserrat';
        font-size: 16px;
        
        cursor: pointer;
        transition: 0.3s;

        &:hover{
            background-color: $dark700;
        }

        .menu-icon{
            margin: 0px 5px;
        }
    }

    .active-nav{
        background-color: $dark700;
    }

    .active-nav:hover{
        background-color: $dark600;
    }

    .collapse-btn{
        display: flex;
        align-items: center;

        width: auto;

        border-radius: 5px;
        padding: 5px;

        font-size: 24px;

        transition: 0.3s;

        margin-left: 10px;
        margin-bottom: 10px;

        &:hover{
            background-color: $white;
            color: $dark900;
        }
    }
}

.menu-off{
    left: -100%;
}

.menu-on{
    left: 0;
}

.dark-bg{
    width: 100%;
    background-color: black;
    opacity: 75%;
}