@import "variables";

.OutletContainer{
  padding-top: 70px;
}

.OutletCommon {
  padding: 20px;
  color: $white;

  .title {
    font-family: "Montserrat";
    font-size: 20px;
    margin-bottom: 20px;
  }

  .btn-add {
    display: flex;
    align-items: center;

    border: none;
    border-radius: 5px;
    background-color: #37a73d;
    color: $white;

    padding: 5px;

    font-size: 16px;

    transition: 0.3s;

    &:hover {
      opacity: 80%;
    }

    .icon {
      margin-right: 5px;
    }
  }

  .loading {
    display: flex;
    justify-content: center;
    margin-top: 15%;
  }

  .loading:before {
    content: "";
    display: block;
    height: 50px;
    width: 50px;
    -webkit-animation: spin 0.5s infinite linear;
    animation: spin 0.5s infinite linear;
    border: 6px $white solid;
    border-left-color: $dark700;
    border-radius: 100%;
  }

  @-webkit-keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes spin {
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .user-info {
    background-color: $dark900;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;

    display: flex;

    .profile-img {
      font-size: 60px;
      display: flex;
      align-items: center;
    }

    .info {
      margin-left: 20px;

      .creation-time {
        color: $dark500;
      }

      .btn-text {
        display: flex;
        align-items: center;

        border: none;
        background-color: transparent;
        color: $white;
        font-size: 16px;

        margin: 5px 0px;
        padding: 5px;
        border-radius: 5px;

        cursor: pointer;

        transition: 0.3s;

        &:hover {
          background-color: $white;
          color: $dark900;
        }

        .logout-icon {
          margin-right: 5px;
        }
      }
    }
  }

  .list-item {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));

    .item {
      background-color: $dark700;
      border-radius: 10px;

      .img {
        object-fit: cover;
        height: 150px;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      .info {
        padding: 10px;

        .div-name {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid white;

          display: flex;
          justify-content: space-between;
        }

        .tags {
          display: flex;
          margin-bottom: 5px;

          .tag {
            font-size: 13px;
            background-color: $white;
            color: $dark900;
            border-radius: 20px;
            margin-right: 5px;
            padding: 5px 10px;
          }
        }

        .row-info {
          display: flex;
          justify-content: space-between;
        }

        .see-more {
          display: flex;
          align-items: center;
          justify-content: flex-end;

          border: none;
          background-color: transparent;
          color: $white;
          font-size: 15px;

          margin: 5px 0px;
          padding: 5px;
          border-radius: 5px;

          cursor: pointer;

          margin-left: auto;

          transition: 0.3s;

          &:hover {
            background-color: $white;
            color: $dark900;
          }
        }

        .admin-btns {
          margin-top: 10px;
          display: flex;
          flex-wrap: wrap;

          .btn-edit {
            display: flex;
            align-items: center;

            border: none;
            border-radius: 5px;
            background-color: $white;
            padding: 5px;
            margin-right: 5px;

            transition: 0.3s;
          }

          .btn-del {
            display: flex;
            align-items: center;

            border: none;
            border-radius: 5px;
            background-color: rgb(223, 44, 44);
            color: $white;
            padding: 5px;
            margin-right: 5px;

            transition: 0.3s;
          }

          button:hover {
            opacity: 65%;
          }

          button {
            .icon {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}
